
<dx-data-grid
    id="gridContainer"
    [dataSource]="gridData"
    [showBorders]="true"
    (onCellClick)="acceptRequest($event)">



    <dxi-column cellTemplate="diffCellTemplate"  *ngIf='visibility==true'></dxi-column>

    <div *dxTemplate="let d of 'diffCellTemplate'">
        <dx-button 
                icon="check"
                type="success"
                text="Accept"
               >
            </dx-button>
          </div>
          
            <!-- <dx-button 
            icon="close"
            type="fail"
            text="Decline"
           >
        </dx-button> -->
        <dxi-column cellTemplate="diffCellTemplate2"  *ngIf='visibility==true'></dxi-column>
        <div *dxTemplate="let d of 'diffCellTemplate2'">
          <dx-button 
            icon="close"
            type="fail"
            text="Decline"
           >
              </dx-button>
            </div>
            


      <dxi-column caption=" Requested ID" type="number" dataField="reqID" >REQ_ID</dxi-column>
      <dxi-column caption="BorrowerID" type="number" dataField="borrowerID">borrower_id</dxi-column>
      <dxi-column caption="Borrower Name" type="text" dataField="borrowerName" >borrower_name</dxi-column>
      <dxi-column caption="Book Id" type="number" dataField="bookID" >book_id</dxi-column>
      <dxi-column caption="Book Name" type="text" dataField="bookName" >book_name</dxi-column>
      
      <dxi-column caption="Requested Date" type="date" dataField="reqdate" >date</dxi-column>


    <dxo-scrolling mode="virtual"></dxo-scrolling>


    
</dx-data-grid>
