
/* .e-card .e-card-header .e-card-header-image.football {
    background-color:green;
} */


.Card-one {
    width: 300px;
    margin-left: 20px;
}   

.e-card {
    background-color: rgb(203, 203, 206);
}




