<div class = "lib">
<div class="Card-one">
<div class="e-card">
    <div class="e-card-image">
        <div class="e-card-title">Person Name </div>
    </div>
    <div class="e-card-content"> 
        <ul>
            <li>Borrowed Books : </li>
            <li>Borrowed Date : </li>
            <li>Return Date : </li>
            <li>Fine Due : </li>
        </ul>
     </div>
</div>
</div>

<!-- <div class='Card-two'>
<div class="e-card">
    <div class="e-card-image">
        <div class="e-card-title">Person Name </div>
    </div>
    <div class="e-card-content"> 
        <ul>
            <li>Borrowed books : </li>
            <li>Borrowed Date : </li>
            <li>Return Date : </li>
            <li>Fine Due : </li>
        </ul> </div>
</div>
</div>

<div class='Card-three'>
    <div class="e-card">
        <div class="e-card-image">
            <div class="e-card-title">Person Name </div>
        </div>
        <div class="e-card-content"> 
            <ul>
                <li>Borrowed books : </li>
                <li>Borrowed Date : </li>
                <li>Return Date : </li>
                <li>Fine Due : </li>
            </ul> </div>
    </div>
    </div> -->



</div>
