<div class = "lib">
<div class="Card-one">
<div *ngIf="person" class="e-card">
    <div class="e-card-image">
        <div class="e-card-title">{{person.pname}} </div>
    </div>
    <div class="e-card-content"> 
        <ul>
                <li>Office No. : {{person.cdeskno}}</li>
            <li>Office No. : {{person.salary}}</li>
            <li>Address : {{person.address}} </li>
            <li>Phone No. : {{person.phoneno}} </li>
        </ul>
     </div>
</div>
</div>
</div>

<!-- <div class = "clerk">
    <div class="Card-two">
    <div class="e-card">
        <div class="e-card-image">
            <div class="e-card-title">{{clerk.name}} </div>
        </div>
        <div class="e-card-content"> 
            <ul>
                <li>Librarian ID : {{clerk.C_ID}} </li>
                <li>Office No. : {{clerk.Desk_no}}</li>
                <li>Address : {{clerk.address}} </li>
                <li>Phone No. : {{clerk.phone_no}} </li>
            </ul>
         </div>
    </div>
    </div>
    </div> -->

<!-- <div class='Card-two'>
<div class="e-card">
    <div class="e-card-image">
        <div class="e-card-title">Person Name </div>
    </div>
    <div class="e-card-content"> 
        <ul>
            <li>Borrowed books : </li>
            <li>Borrowed Date : </li>
            <li>Return Date : </li>
            <li>Fine Due : </li>
        </ul> </div>
</div>
</div>

<div class='Card-three'>
    <div class="e-card">
        <div class="e-card-image">
            <div class="e-card-title">Person Name </div>
        </div>
        <div class="e-card-content"> 
            <ul>
                <li>Borrowed books : </li>
                <li>Borrowed Date : </li>
                <li>Return Date : </li>
                <li>Fine Due : </li>
            </ul> </div>
    </div>
    </div> -->


