<form [formGroup]="BorrowbookedSection">
 

    <h1> BORROWED BOOK FORM</h1>

   
          <label>
            bookName:
              <input type="text" formControlName="bookName">
            </label><br>
          <label>
            borrowerName:
              <input type="text" formControlName="borrowerName">
            </label><br>
        
  
          <button type="submit" style="margin:20px;">Update</button>    <button type="submit" style="margin:20px;">Delete</button>
    
      
            </form>
