<dx-popup
[width]="1000"
[height]="500"
[showTitle]="true"
title="Information"
[dragEnabled]="true"
[closeOnOutsideClick]="true"
[(visible)]="personsPopupVisible">
<div>

<p>hiii</p>
<!-- <dx-data-grid
#grid
id="gridContainer"
//[dataSource]="gridArray"
[showBorders]="true"
keyExpr="id"
[hoverStateEnabled]="true"
//[columns]="['id', 'name', 'address','password', 'phone_no']"
(onCellClick)="getSelectedData($event)">

<dxo-selection mode="single" ></dxo-selection>

<dxo-filter-row 
       [visible]="showFilterRow" 
       [applyFilter]="currentFilter"></dxo-filter-row> -->

       <!-- <dxo-header-filter 
       [visible]="showHeaderFilter"></dxo-header-filter>

       <dxo-search-panel 
       [visible]="true" 
       [width]="240" 
       placeholder="Search..."></dxo-search-panel>

       <dxi-column 
       <!-- dataField="id" 
       [width]="140" 
       caption="ID">
       <dxo-header-filter 
           [groupInterval]="10000"></dxo-header-filter>
   </dxi-column>
   
   <dxi-column 
       dataField="name" 
       alignment="right" 
      
       [width]="120">
       <dxo-header-filter 
           [dataSource]="gridArray"></dxo-header-filter>
   </dxi-column>
 
   <dxi-column 
   dataField="address" 
   alignment="right" 
   [width]="180"></dxi-column>
   <dxi-column 
       dataField="password" 
       alignment="right" 
       [width]="180"></dxi-column>
       
       
       <dxi-column 
       dataField="phone_no" 
       caption="Is_issued">
       <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
   </dxi-column>
   <div class="options">
    <div class="caption">Options</div>
    <div class="option">
        <span>Apply Filter</span>
        <dx-select-box
            id="useFilterApplyButton" 
            [items]="applyFilterTypes" 
            [(value)]="currentFilter" 
            valueExpr="key"
            displayExpr="name"
            [disabled]="!showFilterRow"></dx-select-box>
    </div>
    <div class="option">
    <dx-check-box 
        text="Filter Row" 
        <!-- [(value)]="showFilterRow" 
        (onValueChanged)="clearFilter()"></dx-check-box>
    </div>
    <div class="option">
    <dx-check-box 
        text="Header Filter" 
        <!-- [(value)]="showHeaderFilter" 
        (onValueChanged)="clearFilter()"></dx-check-box>
    </div>
    --> -->
  <!-- </div> 
   
    -->
   <!-- <dxo-paging [pageSize]="1"></dxo-paging>
        <dxo-pager 
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 20]"
            [showInfo]="true">
        </dxo-pager>

</dx-data-grid> --> --> -->
</div>
</dx-popup>