.AllBooks{
    margin-top:20px;
    margin-bottom:20px;
    
    display: inline-block;
}

#Pagination{
    margin-top: 100px;
    margin-right: 5px;
}

#book-cards{
    margin-top:20px;
    margin-bottom:20px;
    display: inline-block;
    
}

#outOf{
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
}