<!-- <dx-tab-panel  
    [dataSource]="tabs"  
    [selectedIndex]="0">  
        <div *dxTemplate="let company of 'templ1'">  
            <app-book-cards></app-book-cards>  
        </div>  
        <div *dxTemplate="let company of 'templ2'">  
            <app-login></app-login>  
        </div>  
 </dx-tab-panel> -->

 <!-- without animation -->
<div id="longtabs">
    <div class="caption">Manage Tabs</div>
    <dx-tabs 
    [dataSource]="tabs"
    [width]="1300"
    [selectedIndex]="0"
    (onItemClick)="selectTab($event)"
    animationEnabled="true">
</dx-tabs>

<div class="content dx-fieldset">
       
    <div class="dx-field">
        <div class="dx-field-value left-aligned">
            
                <router-outlet></router-outlet>
            
        </div>
    </div>
</div>
</div>

<!-- validation -->
<!-- <div data-bind="dxTabPanel: { items: items, selectedIndex: selectedIndex, 
    focusStateEnabled: false,
    swipeEnabled: true,
    onSelectionChanged: validateAndSubmit}">
<div data-options="dxTemplate : { name: 'item' } ">
    <div id="sampleGroup" data-bind="dxValidationGroup: {}">
        <div style="width: 100px" data-bind="dxTextBox: {},
            dxValidator: {
                validationRules: [{
                    type: 'required'
                }]
            }">
        </div>
        <div data-bind="dxTextBox: {},
            dxValidator: {
                validationRules: [{
                    type: 'required'
                }]
            }">
        </div>
        
    </div>
</div>
</div> -->


<!-- with animation -->

    
   
