
<dx-data-grid class="grid"
     id="gridContainer"
    [dataSource]="gridData"
    [showBorders]="true">



    <!-- <dxi-column cellTemplate="diffCellTemplate"   *ngIf="visibility=true"></dxi-column> -->
    <dxi-column cellTemplate="diffCellTemplate" *ngIf="router != '/home/history'"></dxi-column>

    <div *dxTemplate="let d of 'diffCellTemplate'">
        <dx-button 
                icon="check"
                type="success"
                text="Receive"
               >
            </dx-button>
      </div>

      <dxi-column caption=" Librarian ID" type="number" dataField="LoanId" ></dxi-column>
      <dxi-column caption="Borrower ID" type="number" dataField="borrowerID">borrower_id</dxi-column>
      <dxi-column caption="Borrower Name" type="text" dataField="borrowerName">Borrower Name</dxi-column>
      <dxi-column caption="Issuer ID" type="number" dataField="issuerID">issuer_id</dxi-column>
      <dxi-column caption="Issuer Name" type="text" dataField="issuerName">Issuer Name</dxi-column>
      <dxi-column caption="Receiver ID" type="number" datField="receiverID">Receiver ID</dxi-column>
      <dxi-column caption="Receiver Name" type="text" dataField="receiverName">Receiver Name</dxi-column>
      <dxi-column caption="Book ID" type="number" dataField="bookID" >book_id</dxi-column>
      <dxi-column caption="Book Name" type="text" dataField="bookName">Book Name</dxi-column>
      <dxi-column caption="Issued Date" type="date" dataField="issdate" >iss_date</dxi-column>
      <dxi-column caption="Returned Date" type="date" dataField="retdate" >ret_date</dxi-column>
      <dxi-column caption="Fine Paid" type="number" dataField="finepaid" >fine_paid</dxi-column>
      <dxi-column caption="VersionNo" type="number" dataField="versionNo" >versionNo</dxi-column>



    <dxo-scrolling mode="virtual"></dxo-scrolling>


    
</dx-data-grid>

