<div>
    <label> 
     <h1>
         SIGN-UP FORM
     </h1>
     <br>
        First Name:
        <input type = "text" [formControl]="FirstName"><br>
     <br>
        Last Name:
        <input type = "text" [formControl]="LastName"><br> 
        
    <br>
        Email Id:
        <input type = "text" [formControl]="EmailId"><br>
    <br>
        Password:
        <input type = "text" [formControl]="Password"><br>
    <br>
        Confirm Password:
        <input type = "text" [formControl]="ConfirmPassword"><br>  
    </label> 
</div>
