

<!-- <app-persons></app-persons> -->
<!-- <app-borrowedbooks></app-borrowedbooks> -->
<!-- <app-loans></app-loans> -->
<!-- <app-onholds></app-onholds> -->
<!-- <app-person-detail></app-person-detail> -->
<!-- <app-books-popup></app-books-popup> -->
<!-- <app-navbar></app-navbar> -->
<app-grid></app-grid>
<!-- <app-home-component></app-home-component> -->
<!-- <app-carasol-component></app-carasol-component> -->
 <!-- <app-manage></app-manage> -->
<!-- <app-login></app-login> -->
<!-- <app-home-component></app-home-component> -->
<!-- <app-person></app-person> -->
<!-- <app-pagination></app-pagination> -->
<!-- <app-books-popup></app-books-popup> -->
<!-- <router-outlet></router-outlet> -->
<app-onhold-grid></app-onhold-grid>
