form {

    color: gray;
    text-align : center;
    padding-left: 35%;
    float: left;
}

form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      
      form.example button:hover {
        background: #0b7dda;
      }
    
      ::ng-deep #container {
        padding: 10px;
    }
    ::ng-deep #container ul {
        list-style-type: none;
        text-align: center;
    }
    ::ng-deep #container ul li {
        display: inline-block;
        width: 160px;
        margin: 10px;
    }
    ::ng-deep #container ul li img{
        width: 100px;
    }
    ::ng-deep .button-info {
        margin: 10px;
    }
    ::ng-deep .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
    }

    #btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 3px 3px 1px  #1c5c1e, 3px 3px 1px 1px rgba(0,0,0,1);
}