

    <form [formGroup]="LoginSection">
     
     <h1>
         SIGN-IN FORM 
     </h1>
     <!-- <label>
        First Name:
        <input type = "text" formControlName="FirstName">
     </label><br>
        
     <label>
     Last Name:
        <input type = "text" formControlName ="LastName"> 
     </label>-->
     <br> 
     <label>   
     Email:
        <input type = "text" formControlName ="Email">
     </label><br>
        
     
     <label>
     Password:
        <input type = "text" formControlName ="Password">
     </label><br>
<label>
        <!-- Books:
        <input type = "text" formControlName ="Password" placeholder='Search...' id='search-text-input'>
        <button id="popup" (click)="showBooksPopup()"><i class="fa fa-search">BooksPopup</i></button>
</label><br>
<label>
        Persons:
        <input type = "text" formControlName="Password" placeholder='Search...' id='search-text-input'>
        <button id="popup" (click)="showPersonsPopup()"><i class="fa fa-search">PersonsPopup</i></button>
</label><br>
<label> 
        <button id="popup" (click)="showCommontest()" type="submit"><i class="fa fa-search" (click)="showCommontest()">Commontest Popup</i></button>
</label> -->
<br>
<label>
    <button class="button" type="submit" (click)="onLoginClick()"> submit</button>
     </label><br>
<!-- <label>
<div id="comp-render" *ngIf="booksPopupVisible">
    <app-books-popup></app-books-popup>
</div>
</label><br>
<label>
<div id="comp-render" *ngIf="personsPopupVisible">
    <app-persons-popup></app-persons-popup>
</div>
</label><br> -->
</form> 
