<div>
    <label> 
     <h1>
         SIGN-IN FORM 
     </h1>
     <br>
        First Name:
        <input type = "text" [formControl]="FirstName"><br>
     <br>
        Last Name:
        <input type = "text" [formControl]="LastName"><br> 
        
    <br>
        Email Id:
        <input type = "text" [formControl]="EmailId"><br>
    <br>
        Password:
        <input type = "text" [formControl]="Password"><br>
    <br>

        Books:
        <input type = "text" [formControl]="Password" placeholder='Search...' id='search-text-input'>
        <button id="popup" (click)="showBooksPopup()"><i class="fa fa-search">BooksPopup</i></button><br>
    <br>
        Persons:
        <input type = "text" [formControl]="Password" placeholder='Search...' id='search-text-input'>
        <button id="popup" (click)="showPersonsPopup()"><i class="fa fa-search">PersonsPopup</i></button><br>
        
        <button id="popup" (click)="showCommontest()" type="submit"><i class="fa fa-search" (click)="showCommontest()">Commontest Popup</i></button><br>
    <br>
    <button class="button" type="submit" (click)="onLoginClick()"> submit</button>
     </label> 
</div>

<div id="comp-render" *ngIf="booksPopupVisible">
    <app-books-popup></app-books-popup>
</div>

<div id="comp-render" *ngIf="personsPopupVisible">
    <app-persons-popup></app-persons-popup>
</div>
