

    <form [formGroup]="PersonSection">
<h1> PERSON'S FORM</h1>
        <label>
            Id:
          <input type="text" formControlName="Id"> 
        </label><br>
      <label>
        Name:
          <input type="text" formControlName="Name">
        </label><br>
      <label>
         Address:
          <input type="text" formControlName="Address">
        </label><br>
      <label>
          Phone no:
           <input type="text" formControlName="Phoneno">
         </label><br>

      <label>
          Version no:
           <input type="text" formControlName="Versionno">
         </label><br>
     
      <label>
          Type:
           <input type="text" formControlName="Type">
         </label><br>
 
    <label>
          Salary:
           <input type="text" formControlName="Salary">
         </label><br>
      
      <div *ngIf = "type== 'L'" >
     <label>
          L_office no:
           <input type="text" formControlName="L_officeno">
         </label><br>
 
        </div>
     
     
     <div *ngIf ="type=='C'">
        <label>
          D_desk no:
           <input type="text" formControlName="D_deskno">
         </label><br>
 
</div>
      <button type="submit" style="margin:20px;">Update</button>    <button type="submit" style="margin:20px;">Delete</button>

      </form>

      
      
      