<div>

<div>
    <label> 
     <h1>
          CLERK
     </h1>
     <br>
        Clerk Name:
        <input type = "text" [formControl]="ClerkName"><br>
    <br>
        Clerk Id:
        <input type = "text" [formControl]="ClerkId"><br>
    <br>
        Clerk Desk:
        <input type = "text" [formControl]="ClerkDesk"><br>
    <br>
    <button class="button" type="submit"style="margin:20px;">Update</button>   <button class="button" type="submit">Delete</button>

    <br>
    
    </label> 
</div>


<div>

    <label> 
     <h1>
          LIBRARIAN
     </h1>
     <br>
        Librarian Name:
        <input type = "text" [formControl]="LibrarianName"><br>
    <br>
        Librarian Id:
        <input type = "text" [formControl]="LibrarianId"><br>
    <br>
        Office No:
        <input type = "text" [formControl]="OfficeNo"><br>
    <br>
    <button class="button" type="submit"style="margin:20px;">Update</button>   <button class="button" type="submit">Delete</button>
    <br>
    
    </label> 

</div>
</div>