<!-- <h2>Librarians</h2>
<div class = "librarians">

<div id="lib-card">
<app-person-history-card></app-person-history-card>
</div>
<div id="lib-card">
<app-person-history-card></app-person-history-card>
</div >
<div id="lib-card">
    <app-person-history-card></app-person-history-card>
</div >
<div id="lib-card">
    <app-person-history-card></app-person-history-card>
</div>
<div id="lib-card">
    <app-person-history-card></app-person-history-card>
</div>
<div id="lib-card">
    <app-person-history-card></app-person-history-card>
</div>
<div id="lib-card">
    <app-person-history-card></app-person-history-card>
</div>
<div id="lib-card">
    <app-person-history-card></app-person-history-card>
</div>
</div>

<br>
<br>
<h2>Clerks</h2>
<div class = "clerks">
    
    <div id="clerk-card">
    <app-person-history-card></app-person-history-card>
    </div>
    <div id="clerk-card">
    <app-person-history-card></app-person-history-card>
    </div >
    <div id="clerk-card">
        <app-person-history-card></app-person-history-card>
    </div >
    <div id="clerk-card">
        <app-person-history-card></app-person-history-card>
    </div>
    <div id="clerk-card">
        <app-person-history-card></app-person-history-card>
    </div>
    <div id="clerk-card">
        <app-person-history-card></app-person-history-card>
    </div>
    <div id="clerk-card">
        <app-person-history-card></app-person-history-card>
    </div>
    <div id="clerk-card">
        <app-person-history-card></app-person-history-card>
    </div>
    </div> -->