<article>
  <h1>FUNCTIONALITY PERFORM</h1>
  <h2><span>Select a function:</span></h2>

  <dx-select-box
  [dataSource]="actions"
  displayExpr="tklName"
  valueExpr="tskID"
  (onSelectionChanged)="onSelectionChanged($event)"></dx-select-box>
  <p><span>PERSON: </span><b>{{actionperformed}}</b></p>
</article>
<!-- <div *ngIf="router == '/home/manage/0/detail'" >
  {{check()}}
</div> -->

<div class="container">
<form [formGroup]="PersonSection">
 

    <h1 style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 30px !important; color: #2e2929;"> PERSON'S FORM</h1>

    <div class="dx-fieldset" id = "first">
      <div class="dx-field">
        <div class="dx-field-label">ID</div>
        <div class="dx-field-value" >
            <dx-text-box style="width: 110%;" formControlName="sysSeq"  placeholder="Enter ID..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
            
      <div class="dx-field">
        <div class="dx-field-label">Name</div>
        <div class="dx-field-value" >
            <dx-text-box style="width: 110%;" formControlName="pname"  placeholder="Enter name..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
    </div>
      <div class="dx-fieldset" id="second">
      <div class="dx-field">
        <div class="dx-field-label">Address</div>
        <div class="dx-field-value" >
            <dx-text-box style="width: 110%;" formControlName="address"  placeholder="Enter address..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
            
      <div class="dx-field" >
        <div class="dx-field-label">Phone No</div>
        <div class="dx-field-value" >
            <dx-text-box style="width: 110%;" formControlName="phoneno"  placeholder="Enter phone no..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
      </div>

    
    <div class="dx-fieldset" id="third" >
      <div class="dx-field">
        <div class="dx-field-label">Version No</div>
        <div class="dx-field-value" >
            <dx-text-box [disabled]="true"  style="width: 110%;" formControlName="versionNo"  placeholder="Enter version no..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
             
      <div class="dx-field">
        <div class="dx-field-label">Type</div>
        <div class="dx-field-value" >
            <dx-text-box style="width: 110%;" formControlName="type"  placeholder="Enter type..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
    </div>
      <div class="dx-fieldset" id="forth">
      <div class="dx-field">
        <div class="dx-field-label">Salary</div>
        <div class="dx-field-value" >
            <dx-text-box [disabled]="type === 'B'" style="width: 110%;" formControlName="salary"  placeholder="Enter salary..." aria-required="dx-field-value"></dx-text-box>
        </div>
      </div>
             
          <div *ngIf = "type== 'L'">
            <div class="dx-field">
              <div class="dx-field-label">L_officeno</div>
              <div class="dx-field-value" >
                  <!-- <dx-text-box [disabled]="type == 'B' || type == 'L'" style="width: 110%;" formControlName="lofficeno"  placeholder="Enter L_officeno..." aria-required="dx-field-value"></dx-text-box> -->
              </div>
            </div>
          </div>
         
         
         <div *ngIf ="type=='C'">
          <div class="dx-field">
            <div class="dx-field-label">D_deskno</div>
            <div class="dx-field-value" >
                <!-- <dx-text-box [disabled]="type == 'B' || type == 'C'" style="width: 110%;" formControlName="cdeskno"  placeholder="Enter D_deskno..." aria-required="dx-field-value"></dx-text-box> -->
            </div>
          </div>
          </div> 
          <!-- <button type="submit" style="margin:20px;" (click)="onAddClick()">Add</button>     -->
        
    
        
            </div>
            </form>
          </div>
        
      