
<!-- <link rel="stylesheet" type="text/css" href="css/dx.common.css"/>
<link rel="stylesheet" type="text/css" href="css/dx.light.css"/>



<script  type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script  type="text/javascript" src="js/jquery-dx.all.js"></script> -->

<!-- <style>

  #treeBox {
    width : 300px;
  }
</style> -->
<!-- <div>
<body id ="form">
<div id="treeBox"></div>

<script>
var per = ["Add","Update","Delete"];
$(function() {

  $("#treeBox").dxDropDownBox({
    value: per[0],

    contentTemplate: function (e) {
    var $list = $("<div>").dxList({
      dataSource: per,
      selectionMode: "single",
      onItemClick: function (args){
       
        var value = args.itemData;
        e.component.option("value",value);
        e.component.close();


      }
    })
return $list;
    }
  });

}); -->
<!-- 
</script>
</body>
</div> --> 
<article>
  <h1>FUNCTIONALITY PERFORM</h1>
  <h2><span>Select a function:</span></h2>
  <select (change)="selectChangeHandler($event)">
      <option value="ADDED">ADD</option>
      <option value="UPDATED">UPDATE</option>
      <option value="DELETED">DELETE</option>
  </select>
  <p><span>PERSON: </span><b>{{selectedfun}}</b></p>
</article>



<Detailform [formGroup]="PersonSection">
 

    <h1> PERSON'S FORM</h1>

   
            <label>
                Id:
              <input  type="text" formControlName="Id"> 
            </label><br>
          <label>
            Name:
              <input type="text" formControlName="Name">
            </label><br>
          <label>
             Address:
              <input type="text" formControlName="Address">
            </label><br>
          <label>
              Phone no:
               <input type="text" formControlName="Phoneno">
             </label><br>
    
          <label>
            Version no:
            <input readonly type="text" formControlName="Versionno">
             </label><br>
         
          <label>
              Type:
               <input readonly type="text" formControlName="Type">
             </label><br>
     
        <label>
              Salary:
               <input type="text" formControlName="Salary">
             </label><br>
          
          <div *ngIf = "type== 'L'" >
         <label>
              L_office no:
               <input type="text" formControlName="L_officeno">
             </label><br>
     
            </div>
         
         
         <div *ngIf ="type=='C'">
            <label>
              D_desk no:
               <input type="text" formControlName="D_deskno">
             </label><br>
     
    </div> 
          <!-- <button type="submit" style="margin:20px;">Update</button>    <button type="submit" style="margin:20px;">Delete</button> -->
    
      
            </Detailform>
    