
   
   /* //<style> */

   /* #treeBox {
     width : 300px;
   } */
 /* //</style> */
   
   
   Detailform {

        color: gray;
        text-align: center;
        padding-left: 35%;
        float: left;
        }
        
