#lib-card{
    margin-top:20px;
    margin-bottom:20px;
    display: inline-block;
    
}

#clerk-card{
    margin-top:20px;
    margin-bottom:20px;
    display: inline-block;

}

#outOf{
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
}

.librarians
{
    overflow: auto;
    /* white-space: nowrap;
    overflow-x: scroll; */
    background-color: rgb(82, 88, 92);
    
}

.clerks
{
    overflow: auto;
    /* white-space: nowrap;
    overflow-x: scroll; */
    background-color: rgb(82, 88, 92);
}

#Pagination{
    margin-top: 25px;
    margin-right: 5px;
}

hr.dashed {
    border-top: 3px dashed #bbb;
    margin-top: 90px;
  }
  .plus-button {
	border: 1px solid rgb(27, 163, 50);
	background-color: rgb(16, 138, 12);
    font-size: 28px;
	height: 1.5em;
	width: 1.5em;
    border-radius: 700px;
    float: right;
    margin-top: 3px;
    
	
  }
  #h2{
      
      display: inline-block;
  }