<div id="h2"><h2>Librarians</h2></div>
<button class="plus-button">+</button> <br><br>  
<div class = "librarians">
    
    <div id="lib-card" *ngFor="let item of slides; let i = index">
        <!-- <div *ngFor="let card of item; let cardIndex = index"> -->
            <!-- <div *ngFor="let item of slides | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"> -->
    <app-person-history-card [person]="item" (click)="test()">
    </app-person-history-card>
    
</div>

</div>
    <div id="Pagination">  
        <div class="float-right"> 
            <p id="outOf">{{activePage}} of {{totalPage}}</p>
             <div class="float-right"> 
                 <app-pagination 
                    [totalRecords]="detailLibrarian.length" 
                    [recordsPerPage]="4" 
                    (onPageChange)="displayActivePage($event)">
                </app-pagination> 
            </div>     
             
        </div>  
    </div>  

<hr class="dashed">

<div id="h2"><h2>Clerks</h2></div>
<button class="plus-button">+</button> <br><br>
<div class = "clerks">
    
    <div id="clerk-card" *ngFor="let item of slidesTwo; let i = index">
        <app-person-history-card [person]="item">
    </app-person-history-card>
    </div>
   
    </div>

    <div id="Pagination">  
        <div class="float-right"> 
            <p id="outOf">{{activePageTwo}} of {{totalPageTwo}}</p>
             <div class="float-right"> 
                 <app-pagination 
                    [totalRecords]="detailClerk.length" 
                    [recordsPerPage]="4" 
                    (onPageChange)="displayActivePageTwo($event)">
                </app-pagination> 
            </div>     
             
        </div>  
    </div>   
    <!-- <router-outlet></router-outlet>    -->