<form [formGroup]="LoanSection">
 

    <h1> LOAN FORM</h1>

   
          <label>
            borrowerName:
              <input type="text" formControlName="borrowerName">
              <button id="popup" (click)="showBorrowerPopup()"><i class="fa fa-search">BorrowerPopup</i></button>
            </label><br>
          
            



            <label>
            issuerName:
              <input type="text" formControlName="issuerName">
              <button id="popup" (click)="showIssuerPopup()"><i class="fa fa-search">IssuerPopup</i></button>

            </label><br>
        
            <label>
                receiverName:
                  <input type="text" formControlName="receiverName">
                  <button id="popup" (click)="showReceiverPopup()"><i class="fa fa-search">ReceiverPopup</i></button>
             </label><br>


             
            <label>
                bookName:
                  <input type="text" formControlName="bookName">
                  <button id="popup" (click)="showBooksPopup()"><i class="fa fa-search">BooksPopup</i></button>
             </label><br>

              
            <label>
                issdate:
                  <input type="text" formControlName="issdate">
             </label><br>

              
            <label>
                retdate:
                  <input type="text" formControlName="retdate">
             </label><br>


              
            <label>
                finepaid:
                  <input type="text" formControlName="finepaid">
             </label><br>


               
            <label>
                versionNo:
                  <input readonly type="text" formControlName="versionNo">
             </label><br>



          <button type="submit" style="margin:20px;">Update</button>    <button type="submit" style="margin:20px;">Delete</button>
    
          <label>
            <div id="comp-render" *ngIf="personsPopupVisible">
                <app-persons-popup></app-persons-popup>
            </div>
            </label><br> -->

        <label>
<div id="comp-render" *ngIf="booksPopupVisible">
    <app-books-popup></app-books-popup>
</div>
</label><br>
      
            </form>
