<dx-select-box
  [dataSource]="actions"
  displayExpr="tklName"
  valueExpr="tskID"
  (onSelectionChanged)="onSelectionChanged($event)"></dx-select-box>
  <p><span>Loans: </span><b>{{actionperformed}}</b></p>


<div class="container">
<form [formGroup]="LoanSection" id="form">
 

    <!-- <h1> LOAN FORM</h1> -->
    <h1 style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 30px !important; color: #2e2929;"> LOAN FORM</h1>
   
          <!-- <label>
            borrowerName:
              <input type="text" formControlName="borrowerName">
              
            </label><br> -->
          
            


<!-- 
            <label>
            issuerName:
              <input type="text" formControlName="issuerName">
             

            </label><br> -->
        
            <!-- <label>
                receiverName:
                  <input type="text" formControlName="receiverName">
                  
             </label><br> -->

    

    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Borrower Name</div>
        <div class="dx-field-value" >
            <dx-text-box  style="width: 110%;" formControlName="borrowerName"  placeholder="Enter borrower name..." aria-required="dx-field-value"></dx-text-box>
            <button id="popup" (click)="showBorrowerPopup()"><i class="fa fa-search">BorrowerPopup</i></button>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Book Name</div>
        <div class="dx-field-value">
            <dx-text-box style="width: 110%;" formControlName="bookName"  placeholder="Enter book name..." ></dx-text-box>
        
            <button id="popup" (click)="showBooksPopup()"><i class="fa fa-search">BooksPopup</i></button>
        </div>
    </div>
            
    <div class="dx-field">
        <div class="dx-field-label">Issuer Name</div>
        <div class="dx-field-value">
            <dx-text-box [readOnly]="true" style="width: 110%;" formControlName="issuerName" placeholder="Enter issuer name..." ></dx-text-box>
            <button id="popup" (click)="showIssuerPopup()"><i class="fa fa-search">IssuerPopup</i></button>
        </div>
    </div>
  
          <div class="dx-field">
              <div class="dx-field-label">Receiver Name</div>
              <div class="dx-field-value">
                  <dx-text-box [disabled]="true"style="width: 110%;" formControlName="receiverName" placeholder="Enter receiver name..." ></dx-text-box>
                  <button id="popup" (click)="showReceiverPopup()"><i class="fa fa-search">ReceiverPopup</i></button>
                </div>
          </div>
             
            <!-- <label>
                bookName:
                  <input type="text" formControlName="bookName">
                 
             </label><br> -->

              
            <!-- <label>
                issdate:
                  <input type="text" formControlName="issdate">
             </label><br>

              
            <label>
                retdate:
                  <input type="text" formControlName="retdate">
             </label><br> -->


                    
            
                    <div class="dx-field">
                        <div class="dx-field-label">Issue Date</div>
                        <div class="dx-field-value">
                            <dx-text-box [disabled]="true" style="width: 110%;" formControlName="issdate"  placeholder="Enter issue date..." ></dx-text-box>
                        </div>
                    </div>
           
                    <div class="dx-field">
                        <div class="dx-field-label">Return Date</div>
                        <div class="dx-field-value">
                            <dx-text-box style="width: 110%;" formControlName="retdate"  placeholder="Enter return date..." ></dx-text-box>
                        </div>
                    </div>
             

                    <div class="dx-field">
                        <div class="dx-field-label">Fine Paid</div>
                        <div class="dx-field-value">
                            <dx-text-box style="width: 110%;" formControlName="finepaid" placeholder="Enter fine paid..." ></dx-text-box>
                        </div>
                    </div>
             

               
            
                    <div class="dx-field">
                        <div class="dx-field-label">Version Number</div>
                        <div class="dx-field-value">
                            <dx-text-box style="width: 110%;" formControlName="versionNo"  placeholder="Enter version number..." ></dx-text-box>
                        </div>
                    </div>
             


          <dx-button id="btn" type="submit" style="margin:30px;">Update</dx-button>    
          <dx-button id="btn" type="submit" style="margin:30px; margin-left: 120px;">Delete</dx-button>
    
          <label>
            <div id="comp-render" *ngIf="personsPopupVisible">
                <app-persons-popup></app-persons-popup>
            </div>
            </label><br> 

        <label>
<div id="comp-render" *ngIf="booksPopupVisible">
    <app-books-popup></app-books-popup>
</div>
</label><br>
      
                  </div>
            </form>
          </div>
