<div>
  <h1 class="bookHead">Books : </h1>
  </div>
<!-- Book Card Section -->

<div class= 'bookcard_section'>
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div (click)="onBookCardClick(cards)" class="col-md-3 pb-2" *ngFor="let cards of item; let cardsIndex = index">
      <mdb-card class="my-1 h-100">
          <div class='Card-one'>
            <div class="e-card">
                <div class="e-card-image myclass">
                    <div class="e-card-title">
                      {{cards.bookTitle}} 
                    </div>
                  
                <div class="e-card-content myclass1"> 
                  <h4 style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 20px !important; color: #2e2929;">{{cards.author}}</h4>

                  <h4 style="font-family:Times New Roman; font-size: 18px !important; color: #2e2929;">{{cards.subject}}</h4>
                </div>
                </div>
            
          </div>
        </div>            
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>

<!-- Person History Card Section -->

<!-- <div  class= 'Historycard_section'>
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slideshistory; let i = index">
    <div class="col-md-4 pb-2" *ngFor="let personHistory of item; let personHistoryIndex = index">
      <mdb-card class="my-1 h-100"> -->
        <!-- <mdb-card-img [src]="" alt="Card image cap"></mdb-card-img> -->
        <!-- <mdb-card-body>
          <mdb-card-title>
            <h4>{{personHistory.Name}}</h4>
            
              <h4>{{personHistory.FineDue}}</h4>
             
                <h4>{{personHistory.FinePaid}}</h4>

                <h4>{{personHistory.bookName}}</h4>

                <h4>{{personHistory.ret_date}}</h4>
          </mdb-card-title> -->
          <!-- <p>{{card.description}}</p> -->
          
        <!-- </mdb-card-body>
        <mdb-card-footer> -->
          <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a> -->
        <!-- </mdb-card-footer>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div> -->

<!-- button -->
<div>
  <button class="Button"> See More </button>
</div>

<div  *ngIf='type=="A"'> 
<h1 class="HisHead" >History : </h1>
</div>

<div  class= 'Historycard_section'  *ngIf='type=="A"'>
  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slideshistory; let i = index">
      <div (click)="onPersonHistoryCardClick(personHistory)" class="col-md-3 pb-2" *ngFor="let personHistory of item; let personHistoryIndex = index">
        <mdb-card class="my-1 h-100">
              
          <div class='Card-two'>
            <div class="e-card">
                <div class="e-card-image myclass">
                  <!-- <img src="src\assets\sample.jpg"> -->

                    <div class="e-card-title">
                     {{personHistory.Name}} 
                    </div>
                
                <div class="e-card-content myclass1 " > 
                  <h4 style="font-size: 15px !important; color: #d11717;">{{personHistory.FineDue}}</h4>

                  <h4 style="font-size: 15px !important; color: #2e2929;">{{personHistory.FinePaid}}</h4>

                <h4 style="font-weight: bold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 20px !important; color: #2e2929;">{{personHistory.bookName}}</h4>

                <h4 style="font-size: 12px !important; color: #d3caca;">{{personHistory.ret_date}}</h4>
                <!-- <li>Office No. : {{person.Office_no}}</li>
                <li>Address : {{person.address}} </li>
                <li>Phone No. : {{person.phone_no}} </li> -->
              </div>
                </div>
                
            </div>
           
             </div>
             
            
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel> 
  </div>


<!-- button -->
  <div>

    <button class="Button1">See More </button>
  
  </div>

  
